body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
#nav-links a {
    text-decoration: none;
    color: #999;
}
#nav-links a:hover {
    /*text-decoration: underline;*/
    border-bottom: 2px solid #f75206;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
.blurb a {
    text-decoration: none;
    /*color: #999;*/
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
#footer-links a {
    text-align:center;
    color:blue;
    text-decoration: none;
}
#footer-links a:hover {
    color:#500000;
}
footer > p, #copyright {
    text-align:center;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/*another line of style*/
